*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    background-color: white;
    color: black;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    margin-left: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

header nav ul li {
    margin: 0 1rem;
}

.container{
    background: linear-gradient(to left,#4e54c8,#8f94fb);
    width: 50%;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.container h3{
    text-align: center;
    color: #333;
    margin-bottom: 10px
}

.container .form-group{
    margin-bottom: 15px;
}

.container .form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
}

.form-group input[type="submit"]:hover{
    background-color: #45a049;
}

footer{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
    position:absolute;
    bottom: 0;
    width: 100%;
}
